.area{
    width: 80rem;
    height: 10rem;
    text-align: center;
}
.area-menu{
    text-align: center;    
}
.box-upperside{
    display: flex;
    justify-content: right;
    margin-bottom: 2px;
    margin-right: 10px;
}
h6{
    margin-right: 5px;
    margin-top: 3px;
    font-weight: bold;
}
div > #hist{
    font-weight: bold;
}


